@font-face {
  font-family: 'Sedgwick Ave Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(fonts/Sedgwick_Ave_Display/SedgwickAveDisplay-Regular.ttf) format('truetype'), 
    url(fonts/Sedgwick_Ave_Display/sedgwickavedisplay-regular-webfont.woff2) format('woff2'),
    url(fonts/Sedgwick_Ave_Display/sedgwickavedisplay-regular-webfont.woff) format('woff');
  
}
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(fonts/Pacifico/Pacifico-Regular.ttf) format('truetype'), 
    url(fonts/Pacifico/pacifico-regular-webfont.woff2) format('woff2'),
    url(fonts/Pacifico/pacifico-regular-webfont.woff) format('woff');
}

.font-pacifico {
    font-family: "Pacifico"
}
.font-secondary {
    font-family: "Sedgwick Ave Display"
}